@import './_fonts', './_vars', './_animation';

*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html, 
body{
    width: 100%;
    min-height: 100dvh;
    height: auto;
    background: $body-black-background;
    font-size: 16px;
    font-weight: 300;
    font-family: $font-Inter-sans-serif;
    color: $default-white-color-100;
    background: #0A0A0A;
    // overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &.hidden{
        overflow: hidden;
    }
}

header, 
main, 
footer, 
section{
    width: 100%;
    height: auto;
}

#main-app, main{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    flex: 1;
}

footer{
    position: fixed;
}

body{
    & .container_loading{
        z-index: 100;
    }

    & .background{
        z-index: 1;
    }
    
    & #main-app{
        z-index: 2;
    }
    
    & .section{
        z-index: 3;
    }
    
    & .footer{
        z-index: 80;
    }

    & .header{
        z-index: 80;
    }
}

a{
    color: inherit;
    cursor: pointer;
}

i, svg, img, .footer{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}