// BODY BACKGROUND
$body-black-background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0A0A0A;

// DEFAULT COLORS
$default-black-color-100: rgba(0, 0, 0, 1);
$default-black-color-75: rgba(0, 0, 0, 0.75);
$default-black-color-50: rgba(0, 0, 0, 0.50);
$default-black-color-25: rgba(0, 0, 0, 0.25);

$default-grey-color-100: rgba(33, 33, 33, 1);
$default-grey-color-75: rgba(33, 33, 33, 0.75);
$default-grey-color-50: rgba(33, 33, 33, 0.50);
$default-grey-color-25: rgba(33, 33, 33, 0.25);

$default-white-color-100: rgba(255, 255, 255, 1);
$default-white-color-75: rgba(255, 255, 255, 0.75);
$default-white-color-50: rgba(255, 255, 255, 0.50);
$default-white-color-25: rgba(255, 255, 255, 0.25);

// FONT SIZES 
$font-size-main: 16px;
$font-size-relative: 1rem;

// FONTS
$font-Inter-sans-serif: 'Inter', sans-serif;

/* @media (prefers-color-scheme: white) {:root {}} */
/* @media (prefers-color-scheme: dark) {:root {}} */
i{
    display: block;

    &.arrow{
        display: block;
        margin-top: 1.5px;
        width: 12px;
        height: 18px;
        background: rgba(217, 217, 217, 0.6);
        clip-path: polygon( 67.671% 52.686%,33.836% 32.49%,11.596% 19.215%,11.596% 19.215%,9.935% 18.034%,8.643% 16.718%,7.72% 15.299%,7.166% 13.813%,6.981% 12.293%,7.166% 10.773%,7.72% 9.287%,8.643% 7.869%,9.935% 6.553%,11.596% 5.372%,11.596% 5.372%,13.211% 4.543%,14.949% 3.898%,16.78% 3.437%,18.672% 3.161%,20.596% 3.069%,22.519% 3.161%,24.411% 3.437%,26.242% 3.898%,27.98% 4.543%,29.595% 5.372%,87.668% 40.035%,87.668% 40.035%,89.757% 41.284%,91.633% 42.416%,93.306% 43.449%,94.784% 44.397%,96.075% 45.276%,97.186% 46.101%,98.126% 46.889%,98.903% 47.653%,99.525% 48.411%,100% 49.177%,100% 49.177%,100.32% 49.864%,100.568% 50.561%,100.746% 51.265%,100.852% 51.974%,100.888% 52.686%,100.852% 53.397%,100.746% 54.107%,100.568% 54.811%,100.32% 55.507%,100% 56.194%,100% 56.194%,99.525% 56.961%,98.903% 57.718%,98.126% 58.483%,97.186% 59.271%,96.075% 60.096%,94.784% 60.975%,93.306% 61.923%,91.633% 62.955%,89.757% 64.088%,87.668% 65.336%,29.595% 100%,29.595% 100%,27.98% 100.829%,26.242% 101.474%,24.411% 101.934%,22.519% 102.211%,20.596% 102.303%,18.672% 102.211%,16.78% 101.934%,14.949% 101.474%,13.211% 100.829%,11.596% 100%,11.596% 100%,9.935% 98.819%,8.643% 97.503%,7.72% 96.084%,7.166% 94.598%,6.981% 93.078%,7.166% 91.558%,7.72% 90.072%,8.643% 88.654%,9.935% 87.338%,11.596% 86.157%,67.671% 52.686% );
    }

    &.subtract{
        width: 12px;
        height: 12px;
        background: rgba(217, 217, 217, 0.4);
        clip-path: polygon( 3.3% 96.7%,3.3% 96.7%,3.948% 97.327%,4.63% 97.888%,5.344% 98.383%,6.089% 98.812%,6.863% 99.175%,7.663% 99.472%,8.489% 99.703%,9.338% 99.868%,10.209% 99.967%,11.1% 100%,88.9% 100%,88.9% 100%,89.791% 99.967%,90.662% 99.868%,91.511% 99.703%,92.337% 99.472%,93.138% 99.175%,93.911% 98.812%,94.656% 98.383%,95.37% 97.888%,96.052% 97.327%,96.7% 96.7%,96.7% 96.7%,97.327% 96.052%,97.888% 95.37%,98.383% 94.656%,98.812% 93.911%,99.175% 93.138%,99.472% 92.337%,99.703% 91.511%,99.868% 90.662%,99.967% 89.791%,100% 88.9%,100% 11.1%,100% 11.1%,99.967% 10.209%,99.868% 9.338%,99.703% 8.489%,99.472% 7.663%,99.175% 6.863%,98.812% 6.089%,98.383% 5.344%,97.888% 4.63%,97.327% 3.948%,96.7% 3.3%,96.7% 3.3%,96.052% 2.673%,95.37% 2.112%,94.656% 1.617%,93.911% 1.188%,93.138% 0.825%,92.337% 0.528%,91.511% 0.297%,90.662% 0.132%,89.791% 0.033%,88.9% 0%,11.1% 0%,11.1% 0%,10.209% 0.033%,9.338% 0.132%,8.489% 0.297%,7.663% 0.528%,6.863% 0.825%,6.089% 1.188%,5.344% 1.617%,4.63% 2.112%,3.948% 2.673%,3.3% 3.3%,3.3% 3.3%,2.673% 3.948%,2.112% 4.63%,1.617% 5.344%,1.188% 6.089%,0.825% 6.863%,0.528% 7.663%,0.297% 8.489%,0.132% 9.338%,0.033% 10.209%,0% 11.1%,0% 88.9%,0% 88.9%,0.033% 89.791%,0.132% 90.662%,0.297% 91.511%,0.528% 92.337%,0.825% 93.138%,1.188% 93.911%,1.617% 94.656%,2.112% 95.37%,2.673% 96.052%,3.3% 96.7%,66.7% 77.8%,33.3% 77.8%,33.3% 22.2%,66.7% 22.2%,66.7% 33.3%,44.4% 33.3%,44.4% 44.4%,66.7% 44.4%,66.7% 55.6%,44.4% 55.6%,44.4% 66.7%,66.7% 66.7%,66.7% 77.8% );
    }
}

// /* It targets only the app used within the browser */
// @media (display-mode: browser) {
// }
// /* It targets only the app used with a system icon in standalone mode */
// @media (display-mode: standalone) {
// }
// /* It targets only the app used with a system icon in all mode */
// @media (display-mode: standalone), (display-mode: fullscreen), (display-mode: minimal-ui) {
// }